<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="">
          <h2 class="mt-4">Articles</h2>
          <a class="btn btn-success" href="/admin/create">Nuevo</a>
          <div class="">
            <table class="table table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="thAdmin font-weight-bold" scope="col">ID</th>
                  <th class="thAdmin" scope="col">Title</th>
                  <th class="thAdmin" scope="col">Content</th>
                  <th class="thAdmin" scope="col">Image</th>
                  <th class="thAdmin" scope="col">Create at</th>
                  <th class="thAdmin" scope="col">Author</th>
                  <th class="thAdmin" scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Man must explore, and this is exploration at its greatest</td>
                  <td>
                    Never in all their history have men been able truly to conceive of the world as
                    one: a single sphere, a globe, having the qualities of a globe, a round earth in
                    which all the directions eventually meet, in which there is no center because
                    every point, or none, is center — an equal earth which all men occupy as equals.
                    The airman's earth, if free men make it, will be truly round: a globe in
                    practice, not in theory.
                  </td>
                  <td>d</td>
                  <td>2023-09-24 00:00:00</td>
                  <td>Marty McFly</td>
                  <td>
                    <a href="/admin/editar">
                      <button type="submit" class="btn btn-primary">Edit</button>
                    </a>

                    <a href="/usuarios/eliminar/">
                      <button type="submit" class="btn btn-danger">Delete</button></a
                    >
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Ad lorem ipsum dolor sit amet</td>
                  <td>
                    Sit amet consectetur, adipisicing elit. Tenetur, natus qui ea in totam facere
                    laboriosam nihil voluptate aut, vitae architecto esse minus delectus, suscipit
                    voluptatibus ipsum! Nemo quas, consectetur perspiciatis...
                  </td>
                  <td>@fat</td>
                  <td>2022-09-28 00:00:00</td>
                  <td>Leia Organa</td>
                  <td>
                    <a href="/usuarios/edit/">
                      <button type="submit" class="btn btn-primary">Edit</button>
                    </a>

                    <a href="/usuarios/eliminar/">
                      <button type="submit" class="btn btn-danger">Delete</button></a
                    >
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Ad lorem ipsum dolor sit amet</td>
                  <td>
                    Sit amet consectetur, adipisicing elit. Tenetur, natus qui ea in totam facere
                    laboriosam nihil voluptate aut, vitae architecto esse minus delectus, suscipit
                    voluptatibus ipsum! Nemo quas, consectetur perspiciatis...
                  </td>
                  <td>@fat</td>
                  <td>2022-09-28 00:00:00</td>
                  <td>Leia Organa</td>
                  <td>
                    <a href="/usuarios/edit/">
                      <button type="submit" class="btn btn-primary">Edit</button>
                    </a>

                    <a href="/usuarios/eliminar/">
                      <button type="submit" class="btn btn-danger">Delete</button></a
                    >
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Ad lorem ipsum dolor sit amet</td>
                  <td>
                    Sit amet consectetur, adipisicing elit. Tenetur, natus qui ea in totam facere
                    laboriosam nihil voluptate aut, vitae architecto esse minus delectus, suscipit
                    voluptatibus ipsum! Nemo quas, consectetur perspiciatis...
                  </td>
                  <td>@fat</td>
                  <td>2022-09-28 00:00:00</td>
                  <td>Leia Organa</td>
                  <td>
                    <a href="/usuarios/edit/">
                      <button type="submit" class="btn btn-primary">Edit</button>
                    </a>

                    <a href="/usuarios/eliminar/">
                      <button type="submit" class="btn btn-danger">Delete</button></a
                    >
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Ad lorem ipsum dolor sit amet</td>
                  <td>
                    Sit amet consectetur, adipisicing elit. Tenetur, natus qui ea in totam facere
                    laboriosam nihil voluptate aut, vitae architecto esse minus delectus, suscipit
                    voluptatibus ipsum! Nemo quas, consectetur perspiciatis...
                  </td>
                  <td>@fat</td>
                  <td>2022-09-28 00:00:00</td>
                  <td>Leia Organa</td>
                  <td>
                    <a href="/usuarios/edit/">
                      <button type="submit" class="btn btn-primary">Edit</button>
                    </a>

                    <a href="/usuarios/eliminar/">
                      <button type="submit" class="btn btn-danger">Delete</button></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
